.ui-widget, .ui-widget .ui-widget {
	font-size: 88% !important;
}

.ui-button {
	width: 85px
}

.ui-define {
	width: 85px
}

.ui-content {
	font-size: 85% !important;
}

#centro {
	width: 770px;
	line-height: 130px; /* centraliza na vertical */
	margin-top: -8px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}