<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Configurações de Conexão com o Banco de Dados -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://127.0.0.1:3306/datasalles</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>

		<!-- Pool de Conexões -->
		<property name="connection.pool_size">1</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

		<!-- Gerenciamento do Contexto das Sessões -->
		<property name="current_session_context_class">thread</property>

		<!-- Cache de Segundo Nível -->
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

		<!-- Mostra as SQLs Geradas -->
		<property name="show_sql">true</property>

		<!-- Cria as tabelas do banco de dados -->
		<property name="hbm2ddl.auto">update</property>
		
		<!-- Mapeamento das tabelas -->
		<mapping class="br.com.datasalles.domain.PedCompra" />
		<mapping class="br.com.datasalles.domain.ItemPedCompra" />
		<mapping class="br.com.datasalles.domain.Estado" />
		<mapping class="br.com.datasalles.domain.Cidade" />
		<mapping class="br.com.datasalles.domain.Produto" />
		<mapping class="br.com.datasalles.domain.Fornecedor" />
		<mapping class="br.com.datasalles.domain.Cliente" />
		<mapping class="br.com.datasalles.domain.Funcionario" />
		<mapping class="br.com.datasalles.domain.ItemVenda" />
		<mapping class="br.com.datasalles.domain.ItemCompra" />
		<mapping class="br.com.datasalles.domain.Pessoa" />
		<mapping class="br.com.datasalles.domain.Usuario" />
		<mapping class="br.com.datasalles.domain.Venda" />
		<mapping class="br.com.datasalles.domain.Compra" />
		<mapping class="br.com.datasalles.domain.Avaria" />
		<mapping class="br.com.datasalles.domain.ItemOrca" />
		<mapping class="br.com.datasalles.domain.Orcamento" />
		<mapping class="br.com.datasalles.domain.Cpagar" />
		<mapping class="br.com.datasalles.domain.Creceber" />
		<mapping class="br.com.datasalles.domain.Historico" />
		<mapping class="br.com.datasalles.domain.Abertura" />
		<mapping class="br.com.datasalles.domain.Movimentacao" />
		<mapping class="br.com.datasalles.domain.ItemAvaria" />
		<mapping class="br.com.datasalles.domain.TipoAvaria" />
		<mapping class="br.com.datasalles.domain.TipoPag" />
		<mapping class="br.com.datasalles.domain.TipoPagc" />
		<mapping class="br.com.datasalles.domain.Caixa" />
		<mapping class="br.com.datasalles.domain.Fechamento" />
		<mapping class="br.com.datasalles.domain.Sangria" />
		
	</session-factory>

</hibernate-configuration>